services:
  mihomo:
    image: ${MIHOMO_IMAGE}
    container_name: mihomo
    restart: unless-stopped
    network_mode: host
    cap_add:
      - NET_ADMIN
      - NET_RAW
    devices:
      - /dev/net/tun:/dev/net/tun
    volumes:
      - ./config:/root/.config/mihomo
    environment:
      TZ: ${TZ}

  metacubexd:
    image: ${METACUBEXD_IMAGE}
    container_name: metacubexd
    restart: unless-stopped
    network_mode: host
    environment:
      DEFAULT_BACKEND_URL: ${DEFAULT_BACKEND_URL}
      TZ: ${TZ}
